
.clock {
  position: absolute;
  width: 50%;
  height: 80%;
  background-image: url("./backgr.jpeg" );
  background-repeat: no-repeat;
  background-size: cover;

}
h2{
    color: white;
    font-size: 100px;
}
.watch{
     height: 240px;
    width: 502px;
    left: 7vw;
    top: 5vh;
    margin-top: 20px;
   font-size: 10rem;
   color: white;
 
  
}
